.contactPage {
  background-color: rgb(236, 236, 251);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactPage h2 {
  font-size: 2rem;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.contactDescription {
  padding: 1rem;
  margin-bottom: 20px;
  font-size: medium;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
  position: relative;
}

.socialCard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  animation: moveTowardsContact 5s infinite;
}

.socialCard h3 {
  margin-bottom: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links a {
  margin-bottom: 20px;
}

.links img {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: filter 0.3s;
}


.links img:hover {
  filter: invert(100%) sepia(10%) saturate(200%) hue-rotate(-60deg) brightness(80%) contrast(90%);
}

.contactForm {
  width: 100%;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.contactForm .name,
.contactForm .email,
.contactForm .number,
.contactForm .yourMessage {
  width: 100%;
  font-size: medium;
  max-width: 30rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: black;
  border: none;
  border-radius: 0.5rem;
  background-color: white;
}

.contactForm .yourMessage {
  width: 100%;
  box-sizing: border-box;
}

.submitBtn {
  padding: 8px 30px;
  border: none;
  border: 1px solid #d60a5f;
  color: #d60a5f;
  font-size: 17px; /* Reduced font size */
  cursor: pointer;
  border-radius: 8px;
  width: 200px; 
  text-align: center; 
  margin: 0.5rem auto; 
}

.submitBtn:hover {
  background-color: #d60a5f;
  color: white;
}

.statusMessage {
  margin-top: 10px;
  font-size: 14px;
  color: rgb(8, 38, 66);
}

.statusMessage.error {
  color: red;
}

@keyframes moveTowardsContact {
  0% {
    left: 0;
  }
  50% {
    left: calc(5% - 10px);
  }
  100% {
    left: 0;
  }
}
