@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.intro {
  height: calc(85vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bg {
  position: absolute;
  top: 3rem;
  right: -5rem;
  z-index: -1;
  object-fit: cover;
  width: 21rem;
  height: 21rem;
  border-radius: 50%;
}

.introContent {
  max-width: 90%;
  padding: 2rem;
  text-align: center;
}

.hello {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.introtext {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(40, end) infinite, blink-caret 0.75s step-end infinite, color-change 7s infinite;
}
/* Typing effect */
.contact-sidebar {
  position: absolute;
  left: -6rem;
  top: 40%;
  transform: translateY(-50%);
  padding: 1rem;
}

.contact-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-sidebar li {
  margin: 4.5rem 0;
  animation: flip 3s infinite linear;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.contact-sidebar a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  background-color: black;
  border-radius: 0.3rem;
}

.contact-sidebar a:hover {
  color: #c71959;
}

.contact-sidebar i {
  font-size: 2rem;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  50%,
  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {}
}

@keyframes color-change {
  0% {
    color: black;
  }
  50% {
    color: #c71959;
  }
  100% {
    color: rgb(5, 51, 114);
  }
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes border-animation {
  0% {
    border-width: 2px;
    border-color: black;
  }
  50% {
    border-width: 3px;
    border-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    border-width: 2px;
    border-color: black;
  }
}


.introPara {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
}

.btn {
  background: black;
  color: white;
  margin: 1rem 0;
  padding: 0.75rem 2rem;
  border-radius: 1.5rem;
  cursor: pointer;
  border: none;
  font-weight: 500;
}

.btn:hover {
  background: rgb(227, 229, 230);
  color: black;
}

.scrolling-text-container {
  position: absolute;
  bottom: 7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.scrolling-text {
  display: inline-block;
  padding-left: 100%;
  animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.scroll-symbol-container {
  position: absolute;
  bottom: 0rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-symbol {
  width: 2rem;
  margin-top: 2rem;
  cursor: pointer;
  animation: bounce 2s infinite;
}

.contact-sidebar {
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
  padding: 1rem;
}

.contact-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-sidebar li {
  margin: 1.5rem 0;
}

.contact-sidebar a {
  text-decoration: none;
  color: white;
  display: inline-block;
  font-size: 2rem;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 1080px) {
  .intro {
    height: auto;
    margin-top: 5rem;
  }

  .bg {
    width: 18rem;
    height: 18rem;
    right: 2rem;
  }

  .introContent {
    font-size: 2.5rem;
  }

  .hello {
    font-size: 3rem;
  }

  .scroll-symbol {
    width: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin-top: 8rem;
    height: auto;
  }

  .bg {
    margin-top: 2rem;
    top: -10rem;
    right: 11rem;
    width: 16rem;
    height: 16rem;
}

  .introContent {
    margin-top: 6rem;
    font-size: 1.5rem;
    max-width: 90%;
  }

  .hello {
    font-size: 2.5rem;
  }

  .introtext {
    font-size: 1.8rem;
  }
  .scrolling-text-container {
    display: none;
  }

  .btn {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }

  .scroll-symbol {
    width: 1.3rem;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    margin-top: 13rem;
    height: auto;
  }

  .bg {
        top: -10rem;
        right: 7rem;
        width: 12rem;
        height: 12rem;
    
  }

  .introContent {
    margin-top: 3rem;
    font-size: 1.2rem;
    max-width: 100%;
    padding: 1.5rem;
  }

  .scrolling-text-container {
    display: none;
  }
  .hello {
    font-size: 2rem;
  }

  .introtext {
    font-size: 1.5rem;
  }

  .introPara {
    font-size: 0.9rem;
  }

  .btn {
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
  }

  .scroll-symbol {
    width: 1rem;
  }
}
@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* Responsive styles */
/* @media (max-width: 768px) {
  .scrolling-text-container {
    position: relative;
    background-color: #f0f0f0;
    overflow: hidden;
    padding: 10px 0;
    /* Hide scrolling text on very small screens */
    
  /* }

  .scrolling-text {
    display: block;
    white-space: normal;
    text-align: center;
    animation: none;
  }
} */ 

/* @media (max-width: 480px) {
  .scrolling-text-container {
    padding: 5px 0;
  }

  .scrolling-text {
    font-size: 0.8em;
  }
} */
.contact-sidebar {
  margin-left: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column; /* Ensures the items stack vertically */
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #e0dfdf;
}

.contact-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
}

.contact-sidebar a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #c1b2b2;
  transition: color 0.3s ease;
}

.contact-sidebar a:hover {
  color: #ff3366;
}

/* For small screens (mobile) */
@media (max-width: 768px) {
  .contact-sidebar {
    flex-direction: row; /* Changes layout to horizontal */
    justify-content: center;
    width: 100%;
    position: static; /* Makes it non-fixed */
    transform: none;
    background-color: #f0f0f0;
    padding: 10px 0;
    display: none;
  }

  .contact-sidebar ul {
    flex-direction: row; /* Align the icons horizontally */
    justify-content: space-around;
    width: 100%;
  }

  .contact-sidebar li {
    margin: 0;
  }
}
