@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-me-container {
  display: flex;
  align-items: center;
  padding: 50px;
  background-color: #f0f0f0;
  min-height: 500px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.6s; 
}

.about-me-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.about-me-image {
  flex: 1;
  position: relative;
  padding: 20px;
}

.about-me-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  filter: grayscale(0);
  transition: scale 750ms ease-out, filter 250ms ease-in-out;
  object-fit: cover;
}

.about-me-image img:hover {
  scale: 1.10;
  filter: grayscale(1);
}

.about-me-content {
  flex: 2;
  padding: 20px;
  color: #333;
}

.about-me-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-me-content p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.about-me-content .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 8px;
}

.about-me-content .skill {
  background-color: #e6007e;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.download-cv {
  padding: 10px 20px;
  font-size: 1rem;
  border: 1px solid #e6007e;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  margin-top: 1rem;
}

.download-cv:hover {
  background-color: #e6007e;
  color: #fff;
}
