@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  min-height: 500px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.6s; 
}

.about-me-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.about-me-image {
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
}

.about-me-image img {
  width: 100%;
  border-radius: 8px;
  filter: grayscale(0);
  transition: transform 750ms ease-out, filter 250ms ease-in-out;
  object-fit: cover;
}

.about-me-image img:hover {
  transform: scale(1.10);
  filter: grayscale(1);
}

.about-me-content {
  text-align: center;
  color: #333;
  padding: 20px;
  width: 100%;
}

.about-me-content h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.about-me-content p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.about-me-content .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 8px;
}

.about-me-content .skill {
  background-color: #e6007e;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.download-cv {
  padding: 10px 20px;
  font-size: 1rem;
  border: 1px solid #e6007e;
  border-radius: 4px;
  background: none;
  cursor: pointer;
  margin-top: 1rem;
}

.download-cv:hover {
  background-color: #e6007e;
  color: #fff;
}

/* Responsive styles */
@media (min-width: 768px) {
  .about-me-container {
    flex-direction: row;
  }

  .about-me-image {
    flex: 1;
    margin-bottom: 0;
  }

  .about-me-content {
    flex: 2;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .about-me-content h2 {
    font-size: 1.5rem;
  }

  .about-me-content p {
    font-size: 0.9rem;
  }

  .about-me-content .skill {
    font-size: 0.8rem;
    padding: 4px 8px;
  }

  .download-cv {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .about-me-content h2 {
    font-size: 1.2rem;
  }

  .about-me-content p {
    font-size: 0.8rem;
  }

  .about-me-content .skill {
    font-size: 0.7rem;
    padding: 3px 6px;
  }

  .download-cv {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}
